@import "tailwindcss";

@theme inline {
  --color-white: #EEEEEE;
  --color-light-gray: #AAAAAA;
  --color-dark-gray: #666666;
  --color-black: #212121;
  --color-primary: #222831;
  --color-accent: #A57F60;
  --color-green: #41DC65;
  --color-red: #FF5460;
  --color-yellow: #FFBC42;
  --color-blue: #5C95FF;
}
